body{
    background-color: rgb(155, 142, 142);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
#innerwp{
    width: 300px;
    height: 350px;
    background-color: #171717;
    border-radius: 2% ;
}
#name{
    text-align: center;
    padding-top: 1em;
}
#img{
    width: 300px;
}
#harga{
    text-align: center;
    padding: 10px;
    position: absolute ;
    margin-top: -3em;
    width: 100px;
    border-radius: 0px 0px 1em 0px;
    background-color: #DA0037;
}
#stok,#history{
    margin-left: 10px;
}
#actions{
    text-align: center;
}
#a_edit{
    padding: 5px;
    background-color: rgb(21, 141, 21);
    border-radius: 3%;
}
#a_dell{
    padding: 5px;
    background-color: rgb(214, 61, 61);
    border-radius: 3%;
}